body {
    margin: 0%;
    background: black;

    h3 {

        color: var(--textcolor2);
        letter-spacing: 10px;
        font-weight: 100;
        margin-bottom: 0px;

    }

    h2 {

        margin-top: 0px;

        .span-h2 {
            font-weight: lighter;
        }


    }
}


@font-face {
    font-family: butler;
    src: url(fonts/Butler_Webfont/Butler-Light.woff);
}

:root {
    --textcolor1: white;
    --textcolor2: red;
    --bgcolor1: red;
    --bgcolor2: black;
    --borderradius: 20px;
    --btnpadding: 12px;
    --bordercolor: white;


}

.main-div-1 {


    header {
        display: flex;
        height: 90px;
        background: black;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    a {
        color: white;
        text-decoration: none;

    }

    .child1>ul {
        list-style-type: none;
        display: flex;
        gap: 40px;

    }

    .child-li {
        margin-top: 13px;
    }


    .btn {
        border-radius: var(--borderradius);
        padding: var(--btnpadding);
        background-color: var(--bgcolor1);
        color: var(--textcolor1);
        border-color: var(--bordercolor);
    }
}

.main-div-2 {
    padding-top: 50px;
    padding-bottom: 100px;
    color: var(--textcolor1);
    text-align: center;
    font-family: butler;


    h2 {

        font-weight: 100;
        font-size: 30px;

    }

    .h2-span {

        font-weight: 900;
        font-size: 48px;

    }

    .parent {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .child {
        background: white;
        height: 120px;
    }

    .child-div>ul {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        list-style-type: none;
        gap: 195px;
    }

    .child-div button {
        border-radius: var(--borderradius);
        background: var(--bgcolor2);
        color: var(--textcolor1);
        padding: var(--btnpadding);
        border-color: var(--bordercolor);
    }
}

.main-div-3 {
    background-color: #0F0F0F;
    padding-top: 50px;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;
    padding-left: 120px;
    padding-right: 120px;


    h1 {


        font-weight: 100;
        font-size: 30px;

        span {
            font-weight: 900;
            font-size: 48px;
        }

    }

    .child-of-div-3 {
        display: flex;
        flex-wrap: wrap;

        .child {

            width: 43%;
            height: 250px;
            margin: 50px 30px 50px 30px;

        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
        }

        .child .branch-imgs {
            width: 100%;
            height: 250px;
        }






    }


}

.heading h1 {

    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;
    background-color: black;
    font-weight: 100;
    font-size: 30px;

    span {
        font-weight: 900;
        font-size: 48px;
    }

}

.main-div-4 {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;

    h1 {


        font-weight: 100;
        font-size: 40px;

        span {
            font-weight: 900;
            font-size: 60px;
        }
    }

    h3 {

        color: var(--textcolor2);
        letter-spacing: 10px;
        font-weight: 100;
        margin-bottom: 0px;

    }

    button {
        color: var(--textcolor1);
        background: var(--bgcolor2);
        border-color: var(--bordercolor);
        border-radius: var(--borderradius);
        padding: var(--btnpadding);
    }


    .child-of-div-4 {
        display: flex;
        gap: 20px;

    }

    .child1-of-div-4 {
        display: flex;
        gap: 20px;

    }

    .child2-of-div-4 {
        display: flex;
        gap: 20px;

    }

    .child3-of-div-4 {
        display: flex;
        gap: 20px;

    }
    .child{
        margin-top: 40px;
    }
}

.main-div-5{
    display: flex;
    flex-wrap: wrap;
    background-color: #0F0F0F;
    padding-top: 50px; 
    padding-bottom: 50px;  
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;
   

    .child-of-div-5{
        display: flex;
        gap: 50px;

        .child2{

            align-content: center;
            

        }
        button{
            border-radius: var(--borderradius);
            background: var(--bgcolor2);
            color: var(--textcolor1);
            padding: var(--btnpadding);
            border-color: var(--bordercolor);
        }
    }
}

.main-div-6{

    display: flex;
    flex-wrap: wrap;
    background: black;
    padding-top: 50px; 
    padding-bottom: 50px;  
    text-align: center;
    color: black;
    font-family: butler;
    justify-content: center;


    .child-of-div-6{
        display: flex;
        gap: 40px;
       
        div{
            width: 325px;
            height: 210px;
            background: white;
            border-radius: 5px;
        }
    }

    .child2-of-div-6{
        display: flex;
        gap: 40px;

        div.child{
            margin-top: 40px;
            width: 325px;
            height: 210px;
            background: white;
            border-radius: 5px;
        }
    }

}

.main-div-7{
    
    display: flex;
    flex-wrap: wrap;
    background: black;
    padding-top: 50px; 
    padding-bottom: 50px;  
    text-align: center;
    color: black;
    font-family: butler;
    justify-content: center;
    gap: 20px;


}

.main-div-7 img{
   
    width: 250px;
    height: 250px;

}

.main-div-8{
    display: flex;  
    background-color: #0F0F0F;  
    color: var(--textcolor1);
    font-family: butler;
    padding-top: 80px;
    padding-bottom: 100px;

    .child-of-div-8{

        margin-left: 100px;

    }

    .child-a a{

        color: var(--textcolor1);
        text-decoration: none;
    }

    .child2-of-div-8{
        margin-left: 80px;
    }
    .child2-of-div-8 li{
        list-style-type: none;
        margin-top: 15px;
    }
    .child2-of-div-8 a{

        color: var(--textcolor1);
        text-decoration: none;
    }

    .child3-of-div-8{
        
        margin-left: 100px;
    }

}

.end{

    background-color: #0F0F0F;  
    color: var(--textcolor1);
    font-family: butler;
    padding: 40px;

    .child-of-end{
    
        float: left;
    }

    .child2-of-end{
    
        float: right;
}
}