@font-face {
    font-family: nunito;
    src: url(fonts/static/Nunito-Regular.ttf);
}




h1,h2,p,a,ul,li{
    color: whitesmoke;
}

div.div1 {



    ul {

        list-style-type: none;
    }

    .child {
        display: inline;
        margin-left: 80px;
    }

    a {

        text-decoration: none;
    }

    a:hover {
        color: cornsilk;
    }

    .button1 {

        color: whitesmoke;
        background: black;
        width: 130px;
        height: 40px;
        border-radius: 40px;
    }

    .button2 {

        color: whitesmoke;
        background: red;
        width: 130px;
        height: 40px;
        border-radius: 40px;         /* to ensure that the borders are curved/half rounded */
      
    }
}

div.div3{
    h1{
        text-align: center;
        font-family: nunito;
    }
}

div.box1{
    display: inline;
   width: 250px; 
    height: 200px;
    margin-left: 270px;


    .img1{
        margin-right: 40px;
    }

    .img2{
        margin-left: 20px;
    }

    .img3{
        margin-left: 50px;
    }

   
}

div.box2{

    margin-left: 260px;


    .button1{
        margin-left: 60px;
        width: 120px;
        height: 50px;
        font-size: medium;
        padding: 10px 3px 10px 3px;
        border-radius: 12px ;
        background: red;
    }
    .button2{
        margin-left: 142px;
        width: 120px;
        height: 50px;
        font-size: medium;
        padding: 10px 3px 10px 3px;
        border-radius: 12px ;
        background: red;
    }
    .button3{
        margin-left: 130px;
        width: 120px;
        height: 50px;
        font-size: medium;
        padding: 10px 3px 10px 3px;
        border-radius: 12px ;
        background: red;
    }
}