body{
    margin: 0%;
}
header{
    display: flex;
    height: 90px;
    background: black;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
a{
   color: white;
   text-decoration: none;
   
}
.child1 > ul{
    list-style-type: none;
    display: flex;
    gap: 40px;

}
/* .child1 > button{
    border-radius: 50%;          didn't worked with this
} */
.btn {
     border-radius: 20px;       /*assigned a class and then applied border radius */
     padding: 3px;
     background: red;
     color: white;
 }

:root{
    --textcolor: white;
}