body {
    margin: 0%;
    background: black;
}


@font-face {
    font-family: butler;
    src: url(fonts/Butler_Webfont/Butler-Light.woff);
}

:root {
    --textcolor1: white;
    --textcolor2: red;
    --bgcolor1: red;
    --bgcolor2: black;
    --borderradius: 20px;
    --btnpadding: 12px;
    --bordercolor: white;


}

.main-div-1 {


    header {
        display: flex;
        height: 90px;
        background: black;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    a {
        color: white;
        text-decoration: none;

    }

    .child1>ul {
        list-style-type: none;
        display: flex;
        gap: 40px;

    }

    .child-li {
        margin-top: 13px;
    }

    /* .child1 > button{
    border-radius: 50%;          didn't worked with this
} */
    .btn {
        border-radius: var(--borderradius);
        /*assigned a class and then applied border radius */
        padding: var(--btnpadding);
        background-color: var(--bgcolor1);
        color: var(--textcolor1);
        border-color: var(--bordercolor);
    }
}

.main-div-2 {

    padding-bottom: 100px;

    color: var(--textcolor1);
    text-align: center;
    font-family: butler;


    h2 {

        font-weight: 100;
        font-size: 30px;

    }

    .h2-span {

        font-weight: 900;
        font-size: 48px;

    }

    .parent {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .child {
        background: white;
        height: 120px;
    }

    .child-div>ul {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        list-style-type: none;
        gap: 200px;
    }

    .child-div button {
        border-radius: var(--borderradius);
        background: var(--bgcolor2);
        color: var(--textcolor1);
        padding: var(--btnpadding);
        border-color: var(--bordercolor);
    }
}

.main-div-3 {
    background: rgba(255, 255, 255, 0.06);
    padding-top: 50px;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;
    padding-left: 120px;
    padding-right: 120px;


    h1 {


        font-weight: 100;
        font-size: 30px;

        span {
            font-weight: 900;
            font-size: 48px;
        }

    }

    .child-of-div-3 {
        display: flex;
        flex-wrap: wrap;

        .child {

            width: 43%;
            height: 250px;
            margin: 50px 30px 50px 30px;

        }

        .child h3 {

            color: var(--textcolor2);
            letter-spacing: 10px;
            font-weight: 100;
            margin-bottom: 0px;

        }

        .child h2 {

            margin-top: 0px;

            .span-h2 {
                font-weight: lighter;
            }


        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
        }

        .child .branch-imgs {
            width: 80%;
            height: 250px;
        }

    }



}

.main-div-4 {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.06);
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;
    h1 {

        
        font-weight: 100;
        font-size: 40px;

        span {
            font-weight: 900;
            font-size: 60px;
        }
    }

    h3 {

        color: var(--textcolor2);
        letter-spacing: 10px;
        font-weight: 100;
        margin-bottom: 0px;

    }

    button{
        color: var(--textcolor1);
        background: var(--bgcolor2);
        border-color: var(--bordercolor);
        border-radius: var(--borderradius);
        padding: var(--btnpadding);
    }


.child-of-div-4 {
    display: flex;
    gap: 20px;
   
}
.child-of-div-4-1 {
    display: flex;
    gap: 20px;
   
}
    
}

